body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  color: #616161; /* grey darken-2 */
}

.bar:hover {
  fill: #9fa8da; /* indigo lighten-3 */
}

.axis {
  color: #757575; /* grey darken-1 */
}

.tooltip {
  position: absolute;
  text-align: center;
  line-height: 1.5em;
  width: 110px;
  height: 35px;
  padding: 14px;
  font-size: 0.8em;
  background: #e8eaf6; /* indigo lighten-5 */
  border-radius: 8px;
  pointer-events: none;
}

.axis-description {
  font-size: 0.8em;
  fill: #757575; /* grey darken-1 */
}
